.App {
    text-align: center;
}

.toggleButton {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgba(18, 18, 18, .75);
  padding: 5px 10px;
  box-shadow: 0 2px 3px #ccc;
  transition-duration: .5s;
  font: inherit;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: rgba(120, 120, 120, .75);
}