.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    background-color: #EAF0F1;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
}

.Delete {
    display: inline-block;
    float: right;
    color: #BA2F16;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(18, 18, 18, .75);
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}